.root {
  padding: 1rem 2rem;
  color: tomato;
  border-radius: 0.5rem;
  border: 1px solid black;

  grid-area: 1 / 2 / 3 / 5;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
