.root {
  border: 1px solid black;
  border-radius: 5px;
  padding: 18px;

  display: grid;
  grid-template-rows: 0.1fr 1fr;
  gap: 8px 0px;
}

.inputWrapper input {
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 28px;
  }
}
